.user-avatar {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.account-btn {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
}

.current-avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.current-avatar > img {
    width: 96px;
    height: 96px;
}

.reg-actions {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

input[type=text]:not(.browser-default):focus:not([readonly]) {
    border-bottom: #9c27b0;
    box-shadow: 0 1px 0 0 #9c27b0;
}

input[type=password]:not(.browser-default):focus:not([readonly]) {
    border-bottom: #9c27b0;
    box-shadow: 0 1px 0 0 #9c27b0;
}

.page-number {
    vertical-align: middle;
    font-size: 18px;
    cursor: pointer;
}

.paginator-block {
    vertical-align: middle;
}

.page-arrow-btn {
    vertical-align: middle;
    cursor: pointer;
}

.search-bar {
    width: 28% !important;
    color: white !important;
    float: right !important;
    border-bottom: none !important;
    background: #ab47bc !important;
    border-radius: 8px !important;
    padding: 0 12px !important;
    margin-top: 10px !important;
    margin-right: 12px !important;
}